/* ---------- GENERAL ---------- */

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;   /* 1rem = 10px */
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --blue: #004e92;
    --darkBlue: #000428;
}



/* ---------- MENU BURGER ---------- */

.boutonBurger {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    /* border: 1px solid #000; */
    cursor: pointer;
    display: none;
    z-index: 50;
}

.ligne {
    width: 95%;
    height: 4px;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0ms 300ms;
}

.ligne::before {
    content: "";
    position: absolute;
    bottom: 12px;
    background-color: #fff;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    transition: bottom 300ms 300ms ease, transform 300ms ease;
}

.ligne::after {
    content: "";
    position: absolute;
    top: 12px;
    background-color: #fff;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    transition: top 300ms 300ms ease, transform 300ms ease;
}

.boutonBurger.active .ligne::after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms ease, transform 300ms 300ms ease;
}

.boutonBurger.active .ligne {
    background: transparent;
}

.boutonBurger.active .ligne::before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms ease, transform 300ms 300ms ease;
}

.menuBurger {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #004e92, #000428);
    color: #fff;
    z-index: 40;
    left: -100vw;
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuBurger a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    margin: 1rem 0 1rem 0;
}

.menuBurgerOpen {
    left: 0;
}



/* ---------- HEADER ---------- */

header {
    width: 100%;
    height: 8rem;
    /* border: 1px solid #fff; */
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    font-size: 2.4rem;
    color: #fff;
    /* border: 1px solid #fff; */
    padding: 1rem;
}

nav {
    font-size: 2rem;
    /* border: 1px solid #fff; */
    padding: 1rem;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 1rem 0 1rem;
}

@media screen and (max-width: 1200px) {
    .boutonBurger {
        display: flex;
    }
    nav {
        display: none;
    }
}



/* ---------- ACCUEIL ---------- */

#accueil {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url(../images/cyber.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.eltTitreAccueil {
    /* border: 1px solid #fff; */
    grid-column: 2 / span 6;
    grid-row: 3 / span 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eltTitreAccueil h1 {
    color: #fff;
    font-size: 6rem;
    font-family: 'Bangers', sans-serif;
    letter-spacing: 2px;
    /* border: 1px solid #fff; */
    padding: 1rem;
    text-align: center;
    text-shadow: 2px 2px 4px #000;
}

.eltTitreAccueil p {
    color: #fff;
    font-size: 2rem;
    /* border: 1px solid #fff; */
    padding: 1rem;
    position: relative;
    bottom: 4rem;
    text-align: center;
}

.bouton {
    /* border: 1px solid #fff; */
    width: 18rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bouton a {
    width: 75%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background-color: var(--blue);
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #000;
}

.bouton a:hover {
    width: 80%;
    padding: 1.1rem;
    font-size: 1.9rem;
    box-shadow: 5px 5px 4px #000;
}



@media screen and (max-width: 1200px) {
    .eltTitreAccueil {
        grid-column: 1 / span 8;
    }
}